html,
body,
.App {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: grey;
}

.leaflet-container {
  width: 650px;
  height: 450px;
}
@media (max-width: 649px) {
  .leaflet-container {
    width: auto;
    height: 200px;
    /* needs explicit value for height or MapContainer won't render */
  }
}
