html,
body,
#root,
.App {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: grey;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.leaflet-container {
  width: 500px;
  height: 500px;
}
