body {
  margin: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: aliceblue;
}
.logo {
  max-width: 400px;
}
.leaflet-container {
  height: 30rem;
  width: 50rem;
  margin: 0 auto;
  border-radius: 25px;
  border: black solid 2px;
}

/* carousel */

.slick-slide {
  text-align: center;
  font-size: 20px;
  font-weight: 700;
}
.itinerarySlider {
  margin-top: 25px;
  margin-bottom: 25px;
  background-color: #fbebda;
  border-radius: 25px;
}
.slick-prev:before,
.slick-next:before {
  border-radius: 25px;
  background-color: black;
}

/* LoadingSpinner */

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.spin {
  animation: 1.5s linear infinite spinner;
  animation-play-state: inherit;
  border: solid 5px #cfd0d1;
  border-bottom-color: #1c87c9;
  border-radius: 50%;
  content: "";
  height: 40px;
  width: 40px;
  transform: translate3d(-50%, -50%, 0);
  will-change: transform;
  margin: auto;
}
.menuHeader {
  align-items: center;
  display: flex;
  flex-direction: column;
  color: #1b6b93;
}
.menubar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*main menu*/

.mainMenu {
  background-color: #FDCC99;
  padding: 25px;
  border: 4px solid black;
  border-radius: 25px;
  font-family: "PT Sans", sans-serif;
  width: 75vw;
  max-width: 1000px;
}
.locationContainer {
  display: flex;
  justify-content:space-evenly;
  gap: 50px;
}
.subbut {
  display: flex;
  justify-content: center;
}
.submitButton {
  width: 50%;
  border-radius: 20px;
  padding: 5px;
  font-size: 2rem;
  margin-top: 25px;
  color: white;
  background-color: #47C1C2;
  margin-bottom: 25px;
}

/* react-date-picker default css */

.react-date-picker {
  display: inline-flex;
  position: relative;
}

.react-date-picker,
.react-date-picker *,
.react-date-picker *:before,
.react-date-picker *:after {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

.react-date-picker--disabled {
  background-color: #f0f0f0;
  color: #6d6d6d;
}

.react-date-picker__wrapper {
  display: flex;
  border: 2px solid black;
  background-color: white;
  width: 100%;
  height: 40px;
  padding: 5px;
  font-size: 25px;
  border-radius: 20px;
}

.react-date-picker__inputGroup {
  min-width: calc((4px * 3) + 0.54em * 8 + 0.217em * 2);
  flex-grow: 1;
  padding: 0 2px;
  box-sizing: content-box;
}

.react-date-picker__inputGroup__divider {
  padding: 1px 0;
  white-space: pre;
}

.react-date-picker__inputGroup__divider,
.react-date-picker__inputGroup__leadingZero {
  display: inline-block;
}

.react-date-picker__inputGroup__input {
  min-width: 0.54em;
  height: 100%;
  position: relative;
  padding: 0 1px;
  border: 0;
  background: none;
  color: currentColor;
  font: inherit;
  box-sizing: content-box;
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}
.react-date-picker__inputGroup__year {
  width: fit-content;
}
.react-date-picker__inputGroup__day {
  width: fit-content;
}

.react-date-picker__inputGroup__input::-webkit-outer-spin-button,
.react-date-picker__inputGroup__input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.react-date-picker__inputGroup__input:invalid {
  background: rgba(255, 0, 0, 0.1);
}

.react-date-picker__inputGroup__input--hasLeadingZero {
  margin-left: -0.54em;
  padding-left: calc(1px + 0.54em);
}

.react-date-picker__button {
  border: 0;
  background: transparent;
  padding: 4px 6px;
}

.react-date-picker__button:enabled {
  cursor: pointer;
}

.react-date-picker__button:enabled:hover .react-date-picker__button__icon,
.react-date-picker__button:enabled:focus .react-date-picker__button__icon {
  stroke: #0078d7;
}

.react-date-picker__button:disabled .react-date-picker__button__icon {
  stroke: #6d6d6d;
}

.react-date-picker__button svg {
  display: inherit;
}

.react-date-picker__calendar {
  width: 350px;
  max-width: 100vw;
  z-index: 1;
}

.react-date-picker__calendar--closed {
  display: none;
}

.react-date-picker__calendar .react-calendar {
  border-width: thin;
}

/* places autocomplete */

.placesAutoComplete {

  flex-direction: column;
  align-items: center;
  position: relative;
}

.prediction-input {
  width: 100%;
  height: 40px;
  padding: 5px;
  border: unset;
  font-size: 25px;
  border-radius: 20px;
  border: 2px solid black;
}

.prediction-list {
  font-size: 20px;
  width: 80%;
  background-color: white;
  gap: 10px;
  position:absolute;
  top: 50px;
  left: 7%;
  z-index: 3;
}
.prediction {
  cursor: pointer;
  border: 0px solid white;
  transition: border 0.2s ease;
}
.prediction:hover {
  background-color: #c8c8c8a8;
  border: 1px solid rgba(159, 159, 159, 0.45);
}

@media (max-width: 1200px) {
  .leaflet-container {
    width: 80%;
    height: 200px;
    /* needs explicit value for height or MapContainer won't render */
  }
}
@media (max-width: 1300px) {
  .locationContainer {
    flex-direction: column;
  }
}