body {
  margin: 0;
}

.leaflet-container {
  width: 650px;
  height: 450px;
}
@media (max-width: 649px) {
  .leaflet-container {
    width: 80%;
    height: 200px;
    /* needs explicit value for height or MapContainer won't render */
  }
}
