body {
  margin: 0;
}

.leaflet-container {
  width: 650px;
  height: 450px;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.spin {
  animation: 1.5s linear infinite spinner;
  animation-play-state: inherit;
  border: solid 5px #cfd0d1;
  border-bottom-color: #1c87c9;
  border-radius: 50%;
  content: "";
  height: 40px;
  width: 40px;
  transform: translate3d(-50%, -50%, 0);
  will-change: transform;
}

@media (max-width: 649px) {
  .leaflet-container {
    width: 80%;
    height: 200px;
    /* needs explicit value for height or MapContainer won't render */
  }
}