.mainMenu {
    width: 80%;
    min-height: 300px;
    background-color: aqua;
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    border: 4px solid black;
  }
  
  .mainMenuInputContainer {
    display: grid;
    width: 80%;
    height: 100%;
    gap: 10px;
    align-items: center;
    grid-template-columns: 1fr 1fr 0.5fr;
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
      "startLocation endLocation submit"
      "startDate endDate submit";
  }
  
  .startLocationContainer {
    display: flex;
    flex-direction: column;
    width: 30%;
    grid-area: startLocation;
  }
  
  .endLocationContainer {
    display: flex;
    flex-direction: column;
    width: 30%;
    grid-area: endLocation;
  }
  
  .startDateContainer {
    display: flex;
    flex-direction: column;
    width: 30%;
    grid-area: startDate;
  }
  
  .endDateContainer {
    display: flex;
    flex-direction: column;
    width: 30%;
    grid-area: endDate;
  }
  
  .startLocationTitle {
    font-size: 2rem;
    margin-left: 5%;
  }
  
  .endLocationTitle {
    font-size: 2rem;
    margin-left: 5%;
  }
  
  .startDateTitle {
    font-size: 2rem;
    margin-left: 5%;
  }
  
  .endDateTitle {
    font-size: 2rem;
    margin-left: 5%;
  }
  
  .endLocationInput {
    display: flex;
    width: 50%;
  }
  
  .inputContainer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    /* align-items: flex-start; */
  }
  .placesAutoComplete {
    align-items: flex-start;
  }
  .prediction-input {
    width: 90%;
    border: 2px solid black;
  }
  
  .mainMenuSubmitButton {
    height: fit-content;
    width: 100%;
    border-radius: 20px;
    padding: 5px;
    font-size: 2rem;
    grid-area: submit;
  }